body{
	font-family: Adamina, Arial, 'San serif';
	background: url("../images/cloudy-day.png");
	
}
.main {
	width: 80%;
	margin: 0.5rem auto;
	height: 60rem;
	background-color: rgb(233, 240, 240);
  	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  	border-radius: 3px;
}


#header-box {
	margin: 2rem auto;
	width: 90%;
	text-align: left;

}

#weather-box {
	background-color: rgb(245, 245, 245);
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);	
}


#forecast-main .well{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#forecast-main .well:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



#weather-box {
	margin: 0px auto;
	width: 95%;
	height: 52rem;
	border-radius: 3px;
	padding-top: 0px;
}



#weather-content {
	display: none;

}

#access-btn-box{
	width: 35%;
	margin: auto;

}

#getWeatherBtn {
	margin: auto;
	width: 100%;
}

#today-weather .well {
	width: 100%;
	text-align: center;
	background-color: rgb(233, 240, 240);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  	border-radius: 3px;
}
#today-weather .well:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#more-info {
	padding: 2px;
	text-align: center;
}

#divider {
	border: 1px solid #bdc3c7;
	width: 50%;
}
#region {
	margin-left: 12px;
}
#header-box {
	margin-top: 2px;
}
#temp-f {
	display: none;
}