body{
	font-family: Ubuntu, Arial, 'San serif';
	
}
.main {
	width: 80%;
	margin: 2rem auto;
	height: 55rem;
	background-color: rgb(233, 240, 240);
  	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  	border-radius: 3px;
}


#header-box {
	margin: 2rem auto;
	width: 90%;
	text-align: left;

}

.well {
	background-color: rgb(245, 245, 245);
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);	
}

#weather-box {
	margin: 2rem auto;
	width: 80%;
	height: 25rem;
	border-radius: 3px;
}

#forecast-main {
	width: 90%;
	margin: 2rem auto;
}


