body{
	font-family: Ubuntu, Arial, 'San serif';
	background: url("../images/cloudy-day.png");
	
}
.main {
	width: 80%;
	margin: 2rem auto;
	height: 70rem;
	background-color: rgb(233, 240, 240);
  	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  	border-radius: 3px;
}


#header-box {
	margin: 2rem auto;
	width: 90%;
	text-align: left;

}

.well {
	background-color: rgb(245, 245, 245);
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);	
}

#forecast-main .well{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#forecast-main .well:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#weather-box {
	margin: 2rem auto;
	width: 80%;
	height: 35rem;
	border-radius: 3px;
}

#forecast-main {
	width: 90%;
	margin: 2rem auto;
}

#weather-content {
	display: none;
}

.landing-page {
	width: 35%;
	margin: 25rem auto;
	padding: 0px 0px 0px 0px;
}

#getWeatherBtn {
	margin: auto;
	width: 100%;
}

#today-weather {
	width: 100%;
	border: 1px solid #bdc3c7;
	border-radius: 2px;
	padding: 2px;
	text-align: center;
}

#today-weather h5 {
	border: 1px solid #bdc3c7;
	border-radius: 2px;
	padding: 2px;
	background-color: rgb(233, 240, 240);
}

#extra-info {
	text-align: center;
}
#images {
	border: 1px solid #bdc3c7;
	border-radius: 2px;
	padding: 2px;
	background-color: rgb(233, 240, 240);
}

#more-info {
	width: 100%;
	border: 1px solid #bdc3c7;
	border-radius: 2px;
	padding: 2px;
	text-align: left;
}

#more-info div {
	border: 1px solid #bdc3c7;
	border-radius: 2px;
	padding: 2px;
}